<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>難的不是爭取，而是決定放棄。</string>
    <string>做人跟做事是一樣的道理，看一個人「做人」好不好，大概就知道「做事」的成果如何。</string>
    <string>工作不只是賺錢的工具，而是體現一個人的社會責任心和個人的價值觀。</string>
    <string>內容為本質，技術為手段，行銷為傳達，溝通為價值，品牌為核心。</string>
    <string>突如其來的奮發圖強，不會比長期自律的累積來得有效。</string>
    <string>過去的職場是貢獻，未來的職場是學習。</string>
    <string>生命的成就，不在於世俗繁華的豐功偉業，而是內省修正自己的缺點，成為更好的人。</string>
    <string>人的動力來源來自二個 追求快樂和逃避痛苦。</string>
    <string>系統化思考者擅長觀察複雜的環境，描繪出一個可以被理解的程度。</string>
    <string>不要期待別人幫你，永遠會幫助你的，只有你自己。</string>
    <string>難的是如何將不同的技術融入商業畫布，呈現出獨一無二的價值。</string>
    <string>傑出領導人厲害處是創造一個只需一般人的常識和技能系統，就能夠面對上乘的商業環境變化。</string>
    <string>商業思維的三種層次 初級：公司角度 中級：產業維度 高級：未來環境。</string>
    <string>有智慧的人，多半有自己一套哲學指導自己。</string>
    <string>先定義客戶，為誰提供服務，再定義痛點，切出差異價值，最後決定產品、技術、工具、流程。</string>
    <string>一個人站得愈高，能夠並肩的就愈少。</string>
    <string>未來職場沒有所謂的專業能力，只會看重是否有擅長解決某個類型或領域的問題能力。</string>
    <string>有些答案不在單維度的系統裡，得跳出來看懂系統中得系統裡，才能看懂問題找到答案，破局。</string>
    <string>思考是成事的基礎，行動是成事的關鍵。</string>
    <string>商業的底層不是產品之爭，而是認知之爭。</string>
    <string>行為是思維顯現的產品，思維有沒有改變，看行為就知道。</string>
    <string>眼界決定了高度，改變了維度。</string>
    <string>懂得怎麼說話是一種藝術，聽出話中有話是一種技術。</string>
    <string>你必須定位自己是個產品，思考差異化的價值，才可能擁有自己的選擇及話語權。</string>
    <string>學會閉嘴是一門藝術。</string>
    <string>真正經營的精明不是利潤，而是客戶的忠誠度，經商，貌似靠的是精明，其實，精明的極致是厚道。</string>
    <string>邏輯，只是對現實世界的抽象畫思考，不符合你邏輯的想法，不一定是錯的，只是彼此抽象化的視角不同而已。</string>
    <string>當一個人明白了時間的終點，就能收起對每個當下的散漫。</string>
    <string>看一個人的潛力，要看他的學習慾望及能力。</string>
    <string>職場人際沒有邊界感，你就永遠拎不清 !</string>
    <string>創造對話，就是一個人的思考框架與腳本的企劃。</string>
    <string>職場中的「 公私分明 」是一個說起來很容易，可是做起來卻很難的一件事。</string>
    <string>視角的廣度+時間的長度+人格特質的本質=決定你未來可能的樣子。</string>
    <string>短視頻的快速發展時代，都快要忘記快思慢想的深層肌肉鍛鍊。</string>
    <string>反自己的人性，順他人的決定。</string>
    <string>工作是爭取與創造出來的，不是等來的。</string>
    <string>不要追求流行的商業思維，我們終究要回到商業的本質。</string>
    <string>商業世界裡人均產值的背後邏輯已不復存在。</string>
    <string>人與人之間每個當下的相遇 只是因為我們剛好適合</string>
    <string>大多數的人獲得提拔之後，在心裡其實並沒有升遷自己。</string>
    <string>我們「自以為」很重要的事情，在別人眼中不一定是重要的。</string>
    <string>選擇自己與自己比賽的賽道。</string>
    <string>沒禮貌比沒專業更糟糕，因為見過世面的人都知道「水山有相逢」。</string>
    <string>洞察表象看本質、處於萬變於不變。</string>
    <string>灰度認知、黑白策略。</string>
    <string>過去的職場是貢獻，未來的職場是學習。</string>
    <string>你會的是做事方法；還是找方法的方法？</string>
    <string>你認為我的話有道理，是因為有些痛苦，我經歷過。</string>
    <string>今日的出衆、昨日的堅毅。</string>
    <string>在未來的環境，每個人當下的能力都是過時 jadx 的，不懂就是想辦法學習，沒有其他方法。</string>
    <string>聰明來自於知識，智慧來自於體驗。</string>
    <string>說話和金錢一樣，角色很中性，只是使用它的人方法不同，造成傳達出正面或負面的力量。</string>
    <string>思考沒用？ 那是因為，不知道得太多，知道太少。 認知邊界？那是因為，你只是照著做、而缺乏好奇去發現不一樣的視角、不一樣的解答和觀點。</string>
    <string>策略不是思考演算法，而是一種洞察力的謀劃設計架構。</string>
    <string>很多人工作用的是蠻力，而不是巧勁，才會在工作上無法有進展。</string>
    <string>知道自己知道什麼，也知道自己不知道什麼，這才是真正的知道。</string>
    <string>所謂的最高自尊，來自於自我覺察的承認與改善。</string>
    <string>顯示得體周全不花錢，卻是個人品牌中比甚麼都值錢。</string>
    <string>我們未必知道所有的答案、但要知道如何尋求答案。</string>
    <string>一個人，就是一個品牌。 所有關鍵時刻的呈現，定調品牌的檔次，也決定了這個品牌的生命周期。</string>
    <string>「認識自己」，才能發揮自己最大的優勢，並將每個挑戰視為一個「勳章」。</string>
    <string>創造對話，就是一個人的思考框架與腳本的企劃。</string>
    <string>書代表著招式，只有持續不斷地練習，才能融合書中的心法，建立出屬於自己的底蘊思維。</string>
    <string>專注在可控制的事情上。</string>
    <string>真正「說話」的最高藝術不在於你說了什麼，而是在於怎麼把話說得巧妙。</string>
    <string>「專案管理」跟每一個人都有切身的關係。</string>
    <string>自省的能力任何的對話都開始以對方的立場及角色去思考，成為了一個身段更柔軟的領導人。</string>
    <string>想選擇當「老闆」這個職位的，必須要面對別人體察不到的真實殘酷的公司經營。</string>
    <string>每一個人都要學習捨棄與慎選。</string>
    <string>最底層的事物往往像祕密般不為人知，如果我們用習以為常的認知看事物，這樣的視角，無法創造具有洞見的商業價值。</string>
    <string>創新不一定是完全新的事情，而是洞察到一個新觀點去觀察一個老東西。</string>
    <string>視角的廣度+時間的長度+人格特質的本質=決定你未來可能的樣子。</string>
    <string>創新不一定是完全新的事情，而是洞察到一個新觀點去觀察一個老東西。</string>
</array>
</plist>
